<h1>写真リスト</h1>

<%= link_to '偽のTwitterアプリにアクセスする', tweeter_auth_path, class: 'btn-common color-primary ml-0 mb-15' unless access_token %>

<%= link_to '写真アップロードページ', new_album_path %>

<div class="album-container">
  <% if @albums.present? %>
    <% @albums.each do |album| %>
      <div class="img-album">
        <div class="image-title">
          <%= album.title %>
        </div>
        <div class="img-border">
          <%= image_tag(url_for(album.image)) %>
        </div>
        <% if access_token %>
          <div class="twitter-btn">
            <%= form_tag tweet_albums_path, class: "tweet-form" do %>
              <%= hidden_field_tag :title, album.title %>
              <%= hidden_field_tag :image, url_for(album.image) %>
              <button type="submit">つぶやき</button>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% else %>
    写真がありません
  <% end %>
</div>


